$color-white: #fff;
$dark-space: #404A4D;
$dark-storm-cloud: #819094;
$aqua-fresco: #469DA3;
$bauhaus: #404040;
$frosty-glade: #9FC0C0;
$nuance: #E2DFD5;
$lily-scent-green: #E9E4BA;
$water-carrier: #4692A3;
$galaxy-green: #7EACAC;
$greenland-ice: #BAD7D7;
$bali-bliss: #5E9F9F;

